repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-json

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.14.13'
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade

  # - repo: local
  #   hooks:
  #     - id: pyright
  #       name: pyright
  #       language: system
  #       types: [python]
  #       entry: uv run pyright
  #       pass_filenames: false # pyright runs for the entire project, it can't run for single files

  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: '1.7.0'
    hooks:
      - id: djade

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npm run format:prettier
        types_or:
          - css
          - html
          - json
          - scss
          - yaml
        language: system

  - repo: https://github.com/standard/standard
    rev: 'v17.1.2'
    hooks:
      - id: standard
